// 颜色定义规范
$color-theme = #61bf82
$color-theme-d = #54a771

$color-favorite = #d93f30

$color-bg = #fff
$color-bg-gray = #eaeaea
$color-bg-gray-d = #e6e6e6
$color-bg-gray-m = #f0f0f0
$color-bg-gray-l = #f4f4f4


$color-gray = #8b8b8c
$color-gray-l = #f4f4f4
$color-gray-d = #e9e9e9
$color-gray-d2 = #bfbfbf

$color-border = #cecece
$color-border-d = #cfcfcf
$color-border-l = #efefef

$color-font = #fff
$color-font-gray = #8a8a8a
$color-font-d = #333
$color-font-gray-l = #bfbfbf

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
